.form-book{
  display: flex;
  gap: 50px;
  flex: 1;
}

.cover-image img{
  width: 200px;
  margin-top: 10px;
}

.form-book{
  width: 100%;
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 5px rgba(0, 0, 0, 0.5);
}

.form-control{
  display: flex;
  padding: 20px;
}

.form-control label{
  display: flex;
  flex: 0.4;
  align-items: center;
}

.form-control input{
  flex: 1;
  width: 500px;
  padding: 10px;
  font-size: 16px;
}

.form-control select{
  flex: 1;
  padding: 10px;
  font-size: 16px;
}
